form {
    background-color: white;
    counter-reset: number;
    margin: auto;
    padding: 2em;
    position: relative;
    width: 100%;

    fieldset {
        background-color: $light-grey;
        border-radius: 0.25em;
        margin-bottom: 1.5em;
        padding: 2em;
    }

    legend {
        color: $navy;
        font-family: $serif;
        font-size: 1.2em;
        letter-spacing: -1px;
        padding: 0.5em 0;

        &:before {
            background-color: $medium-blue;
            border: 0.25em solid white;
            border-radius: 1em;
            color: white;
            counter-increment:number;
            content: counter(number);
            left: -15px;
            padding: .25em 0.5em;
            position: absolute;
        }
    }

    label {
        color: $navy;
        display: block;
        font-family: $sans-serif;
        font-size: 0.7em;

        &#disclaimer {
            color: $medium-grey;
            width: 100%;
        }

        &#show-password {
            display: inline-block;
        }

        &.cardtype {
            display: none;
        }
    }
}

button {
    @include linear-gradient(lighten($green, 10), $green);
    background-color: $green;
    border: 1px solid $green;
    border-radius: 0.25em;
    color: white;
    font-family: $serif;
    font-size: 1em;
    height: 2em;
    padding: 0.25em;
    vertical-align: center;
}
