form {
    background-color: white;
    counter-reset: number;
    margin: auto;
    padding: 2em;
    position: relative;
    width: 100%;

    fieldset {
        background-color: $light-grey;
        border-radius: 0.25em;
        margin-bottom: 1.5em;
        padding: 2em;
    }

    legend {
        color: $navy;
        font-family: $serif;
        font-size: 1.2em;
        letter-spacing: -1px;
        padding: 0.5em 0;

        &:before {
            background-color: $medium-blue;
            border: 0.25em solid white;
            border-radius: 1em;
            color: white;
            counter-increment:number;
            content: counter(number);
            left: -15px;
            padding: .25em 0.5em;
            position: absolute;
        }
    }

    label {
        color: $navy;
        display: block;
        font-family: $sans-serif;
        font-size: 0.7em;
    }

    select {
        @include linear-gradient(white, $light-grey);
        border: 1px solid lighten($medium-grey, 30);
        height: 3em;
        margin-top: 0.5em;
        padding-left: 0.5em;
        width: 25%;
        -webkit-appearance: none;
    }
}

button {
    @include linear-gradient(lighten($green, 10), $green);
    background-color: $green;
    border: 1px solid $green;
    border-radius: 0.25em;
    color: white;
    font-family: $serif;
    font-size: 1em;
    height: 2em;
    padding: 0.25em;
    vertical-align: center;
}

.disclaimer {
    color: $medium-grey;
    width: 100%;
}

.show-password {
    display: inline-block;
}

.no-js {
    .show-password, .checkbox {
        display: none;
    }
}

.cardtype {
    display: none;
}

.sample-url {
    background-color: $light-grey;
    border-left: $default-border-style;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    color: $medium-grey;
    float: right;
    font-size: 0.8em;
    left: 4px;
    bottom: 45px;
    padding: 0.7em 2em;
    position: relative;
}

#paypal {
    font-size: 0.6em;
}

#security {
    width: 20%;
}

.security-image.regular {
    background: url('sprite.png') no-repeat 0 -374px;
    display: inline-block;
    height: 32px;
    vertical-align: middle;
    width: 62px;
}

.security-image.amex {
    background: url('sprite.png') no-repeat  0 -331px;
    display: inline-block;
    height: 33px;
    vertical-align: middle;
    width: 70px;
}

.lock {
        background: url('sprite.png') no-repeat -60px -499px;
        float: right;
        height: 19px;
        width: 14px;
}
