input {
    border-radius: 0.5em;
    height: 2.5em;
    margin: 0.5em 0 1.25em 0;

    &[name="password"] {
        margin-bottom: 0;
    }
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
}

input[type="radio"] {
    background-image: url('sprite.png');
    border: $default-border-style;
    height: 3em;
    opacity: 1;
    vertical-align: middle;
    width: 4.25em;
    -webkit-appearance: none;
}

#amex {
    background-position: 0 -122px;
}

#visa {
    background-position: -48px -122px;
}

#discover {
    background-position: -96px -122px;
}

#mastercard {
    background-position: -144px -122px;
}

.email {
    margin-bottom: 0.5em;
}

.checkbox {
    display: inline-block;
    height: 1.1em;
}

.portfolio-url {
    display: inline-block;
    position: relative;
}

#cardnumber {
    width: 50%;

    &:valid {
        color: green;
    }

    &:invalid {
        color: red;
    }
}

.valid {
    color: green;
}

.invalid {
    color: red;
}
