input {
    @include box-shadow(0 1px 2px rgba(0,0,0,0.2) inset, 0 -1px 0 rgba(0,0,0,0.05) inset);
    border: none;
    border-radius: 0.5em;
    height: 2.5em;
    margin: 0.5em 0 1.25em 0;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
}

input[type="url"] {
    border-radius: 0.5em 0 0 0.5em;
    @include inline-block;
    float: left;
    width: 378px;
    z-index: 999;
}

input[type="radio"] {
    box-shadow: none;
}

.js {
    input[type="radio"]{
        left: -9999px;
        position: absolute;
    }
}

label.cardtype {
    @include inline-block;
    background-color: $light-grey;
    background-image: url('../images/sprite.png');
    height: 3em;
    text-indent: -9999px;
    vertical-align: middle;
    width: 4.25em;
}

.js {
    label.cardtype {
        opacity: 0.5;
    }
}

// Credit Cards
#amex-image {
    background-position: 0 -122px;
}

#visa-image {
    background-position: -48px -122px;
}

#discover-image {
    background-position: -96px -122px;
}

#mastercard-image {
    background-position: -144px -122px;
}

// Labels
.email {
    margin-bottom: 0.5em;
}

.portfolio-url {
/*    @include inline-block;
    border-radius: 0.5em 0 0 0.5em;
    position: relative;*/
}

// Password
.checkbox {
    left: -9999px;
    position: absolute;
}

.no-js.checkbox {
    display: none;
}

.offPage {
    position: absolute;
    left: -9999px;
}

// Validation
#cardnumber {
    &:valid {
        color: green;
    }

    &:invalid {
        color: red;
    }
}

.js #cardnumber {
    width: 50%;
}

.no-js {
    #cardnumber {
        width: 45%;
    }
}

.validation.valid, .security-code.valid{
    &:after {
        @include inline-block;
        background-image: url('../images/sprite.png');
        background-position: -30px -504px;
        background-repeat: no-repeat;
        content: "Your card is valid";
        height: 15px;
        text-indent: -9999px;
        vertical-align: top;
        width: 15px;
    }
}

.validation.invalid, .security-code.invalid {
    &:after {
         @include inline-block;
        background-image: url('../images/sprite.png');
        background-repeat: no-repeat;
        background-position: -1px -504px;
        content: 'Your card is invalid';
        height: 15px;
        text-indent: -9999px;
        vertical-align: top;
        width: 15px;
    }
}

input.valid {
    color: green;
}

input.invalid {
    color: red;
}
