<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>AUX Form Challenge</title>

        <!-- The Stylesheet -->
        <link href="stylesheets/app.css" rel="stylesheet" type="text/css">

        <!-- Google Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Antic+Slab' rel='stylesheet' type='text/css'>
    </head>

        <!-- Modernizr -->
        <script src="javascripts/libs/modernizr.js"></script>


    <body>

        {{ content }}

        <!-- JavaScript includes -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript" src="javascripts/app.js"></script>
    </body>
</html>