header {
    margin: auto;
    padding: 2em;
    width: 567px;
}

section {
    margin: auto;
    margin-bottom: 1em;
    min-width: 500px;
    width: 50%;
}

.offscreen {
    position: absolute;
    bottom: 100%;
    right: 100%;
}