// Fonts
$serif: 'Antic Slab', serif;
$sans-serif: 'Lucida Grande', Arial, Verdana, sans-serif;

// Colors
$light-blue: #b3e3ff;
$medium-blue: #4090CD;
$navy: #032339;

$light-grey: #F0F3F3;
$medium-grey: #7B7B83;